/* body style */
body {
  margin: 0;
  min-height: 100%;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* wrapper-title -> div with name and work */
.wrapper-title {
  padding: 50px;
  width: 75%;
  margin: auto;
  background-color: white;
  text-align: center;
}

/* vertical divider between name and work */
.vertical-divider {
  width: 3px;
  height: 40px;
  margin: auto;
  background-color: rgb(66, 63, 63);
}

/* section-main -> top of the page*/
.section-main {
  position: relative;
  z-index: 999;
  margin: auto;
  padding: 120px;
  background-image: url("../images/main-background.jpg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* section intro -> div intro about me*/
.section-intro {
  margin: auto;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
}

/* text-body -> style for intro-text */
.text-body {
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #464646;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* buttons(resume,experience,studies,contact) */
.buttons {
  padding: 35px;
  margin: auto;
}

/* port-container -> experience, studies and contact button style */
.port-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

/* boxes of the port-container style */
.box {
  width: 300px;
  padding: 25px;
  border: 3px solid;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box.gray {
  width: 31%;
  border-color: black;
  color: black;
  font-size: 18px;
}

.box.gray:hover {
  border-color: black;
  background-color: rgb(113, 112, 112);
}

.box.cyan {
  border-color: darkcyan;
  color: darkcyan;
  font-size: 18px;
}

.box.cyan:hover {
  border-color: darkcyan;
  background-color: rgb(145, 172, 225);
}

.box.red {
  border-color: darkred;
  color: darkred;
  font-size: 18px;
}

.box.red:hover {
  background-color: rgb(232, 137, 137);
}

.box.green {
  border-color: darkgreen;
  color: darkgreen;
  font-size: 18px;
}

.box.green:hover {
  background-color: rgb(109, 210, 109);
}

/* contact form on main page*/
.form {
  color: rgb(89, 88, 88);
  text-size-adjust: 17px;
  letter-spacing: 7px;
  text-transform: uppercase;
  background-color: black;
  padding: 10px;
  text-align: center;
}

div.form {
  margin: auto;
  width: 300px;
}

.form:hover {
  color: white;
}

/* social media icons on footer */
.social-media {
  color: rgb(89, 88, 88);
}

.social-media:hover {
  color: rgb(239, 230, 230);
}

ion-icon {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  background-image: url("../images/main-background.jpg");
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
}

/* all links decoratin -> no underline  */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* horizontal divider */
.horizontal-divider {
  background-color: black;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  height: 3px;
  width: 1200px;
}

/* section details -> descriptions about the studies, experiencea and resume */
.section-details {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
}

/* w-cointainer -> div where I framed the details and pictures from the experience, resume and studies pages*/
.w-container {
  margin: auto;
  padding: auto;
  max-width: 940px;
}

/* navhome -> navigation bar from the top of the page */
.navhome {
  position: absolute;
  z-index: 1000;
  left: 0px;
  top: 0px;
  right: 0px;
}

.navhome.inner {
  position: fixed;
  z-index: 998;
  background-image: url("../images/main-background.jpg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* div-block -> main div top page */
.div-block {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

/* nav-name -> name logo */
.nav-name {
  display: inline-block;
  height: 60px;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}

/* nav-menu -> menu links from top page */
.nav-menu {
  float: right;
  padding: 20px;
  margin: auto;
}

/* nav-link and w-nav-link -> menu links style */
.nav-link {
  width: 140px;
  height: 30px;
  margin: auto;
  padding: auto;
  line-height: 35px;
  display: inline-block;
  border: solid whitesmoke;
  border-width: 0px 0px 1px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: white;
}

.nav-link:hover {
  background-color: rgb(146, 146, 146);
}

.w-nav-link {
  position: relative;
  display: inline-flexbox;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* text styling */
h6 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  direction: ltr;
  color: #3d414c;
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  white-space: normal;
  padding: 7px;
  line-height: 20px;
}

.h1 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.h3 {
  margin-bottom: 26px;
  direction: ltr;
  color: #464646;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  white-space: normal;
}

.h2 {
  margin-bottom: 40px;
  font-size: 27px;
  font-weight: 300;
  line-height: 5px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #32343a;
}

h5 {
  text-align: center;
  color: #32343a;
  letter-spacing: 2px;
  line-height: normal;
}

/* some photo styling */
#ires {
  border: 2px solid black;
  width: 1000px;
  height: 350px;
}

#study {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
}

#mycv {
  border: 2px solid black;
  width: 900px;
  height: 1000px;
}

#endava {
  width: 1000px;
  height: 350px;
}

/* contact form page */
#logo-contact {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* title of the page */
.contact-label-title {
  color: white;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
}

/* text on contact page*/
.text-contact {
  color: white;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#label {
  line-height: 40px;
  margin-bottom: 40px;
}

.contact-label {
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* actual form -> text and fields */
.forms {
  background-color: hsla(0, 0%, 100%, 0.2);
  margin: auto;
  width: 900px;
  height: 550px;
  align-items: center;
  justify-content: center;
}

.form1 {
  text-align: center;
}

.set-contact {
  background-color: #cccbcb;
  color: rgb(78, 78, 84);
  width: 250px;
  height: 25px;
  border: 2.5px solid rgb(95, 95, 95);
  border-radius: 10px;
}

.set-contact::placeholder {
  text-align: left;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.set-contact:hover{
  background-color: rgb(174, 169, 169);
  border: 3px solid darkcyan;
}

#textarea {
  background-color: #cccbcb;
  color: rgb(78, 78, 84);
  margin: 10px;
  border: 2.5px solid rgb(95, 95, 95);
  border-radius: 10px;
}

#textarea::placeholder {
  text-align: left;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit {
  border: 2px solid black;
  color: black;
  background-color: #cccbcb;
  border-radius: 5px;
  height: 30px;
  width: 150px;
}

.submit:hover {
  background-color: gray;
  border: 3px solid darkcyan;
}
